<ul class="card">
  <li *ngFor="let item of toDo">
      {{item.task}} {{item.task_responsable}} {{item.deadline}} {{item.status}} {{item.update}}
  </li>
</ul>

<!-- <div class="row">
  <div class="card">
    <div class="card-header">Add task
      <div class="card-body">
        <form (submit)="addTask">
          <div class="form-group">
            <input type="text" name="task" [(ngModel)]="newToDo.task" class="form-control" placeholder="Task here" required autofocus>
            <input type="text" name="task_responsable" [(ngModel)]="newToDo.task_responsable" class="form-control" placeholder="Add a responsable">
            <input type="date" name="deadline" [(ngModel)]="newToDo.deadline" class="form-control" placeholder="Define deadline">
            <input type="text" name="status" [(ngModel)]="newToDo.status" class="form-control" placeholder="Task status">
            <textarea type="textarea" name="update" [(ngModel)]="newToDo.update" class="form-control" placeholder="Update the task"></textarea>
            <button type="submit" (click)="addTask()" class="btn btn-primary btn-block">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
